# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# Rendered reports
product/*.html
analysis/*.docx
analysis/*.pdf
docs/*.html
docs/*.docx

# output files
output/

# knitr and R markdown default cache directories
/analysis/cache/
/analysis/figures/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# RStudio
.Rproj.user
*.Rproj

# Old datafiles
analysis/Old_data_preparation/datafiles/*.*

# problem reports
docs/problem_reports/*.*

# all the large datafiles
data/

# all products
product/

